html, body{
  overflow: hidden;
}

.App {
  text-align: center;
  z-index: 999;
  min-height: 100vh;
  background: #ff9966;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.appnavigation{
  z-index: 3;
}

#allview{
  transition: all .5s cubic-bezier(0.41, -0.01, 0.2, 1);
}

.no-transi{
  transition: all 0s ease !important;
}

.view{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: all .5s ease-in-out;

}
